{% extends 'base.html' %}
{% block content %}



<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage Devices</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Manage Devices</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>Device</th>
                <th>Hostname</th>
                <th>IP Address</th>
                <th>Location</th>
                <th>Last Scan</th>
                <th>Security State</th>
                <th>Run-Config</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
                <td>$320,800</td>
                <td><button type="button" class="btn btn-success">Analyse</button> 
                  <button type="button" class="btn btn-primary">Details</button>
                  <button type="button" class="btn btn-danger">Delete</button></td>
              </tr>
         
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}